body {
    margin: 0;
    text-align: center;
    background: black;
}
.cop{
    color:white;
}
.section{
    height: 987px;
    width: 100%;
    display: table;
    /*background: url("video/ocean.jpg") no-repeat center;*/
    background-size: cover;
}
.container1{
    display: table-cell;
    min-height: 100%;
}
form {
    margin: 5px auto;
    max-width: 60%;
}

input {
    width: 150px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

.but {
    cursor: pointer;
    border: 5px solid black;
    background: #f6f6f6;
    box-shadow: inset 0px 20px 20px #ffffff;
    border-radius: 8px;
    padding: 5px 14px;
    width: 150px;
}

.but:hover {
    box-shadow: inset 0px -20px 20px #ffffff;
}

.but:active {
    margin-top: 1px;
    margin-bottom: -1px;
    zoom: 1;
}

.book {
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #cecece;
    background: #f6f6f6;
    box-shadow: inset 0px 20px 20px #ffffff;
    border-radius: 8px;
    padding: 8px 14px;
    width: 350px;
}

.book:hover {
    box-shadow: inset 0px -20px 20px #ffffff;
}

.book:active {
    margin-top: 1px;
    margin-bottom: -1px;
    zoom: 1;
}

#del {
    margin: 0 auto;
    text-decoration: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #cecece;
    background: #f6f6f6;
    box-shadow: inset 0px 20px 20px #ffffff;
    border-radius: 50%;
    padding: 15px;
    max-width: 50px;
    display: flex;
    transition: 1s;
}

#del:hover {
    box-shadow: inset 0px -20px 20px #ffffff;
    color: rgb(255, 50, 50);
}

#del:active {
    margin-top: 1px;
    margin-bottom: -1px;
    zoom: 1;
}

#pls {
    margin: 0 auto;
    text-decoration: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #cecece;
    background: #f6f6f6;
    box-shadow: inset 0px 20px 20px #ffffff;
    border-radius: 50%;
    padding: 15px;
    max-width: 50px;
    display: flex;
    transition: 1s;
}

#pls:hover {
    box-shadow: inset 0px -20px 20px #ffffff;
    color: green;
}

#pls:active {
    margin-top: 1px;
    margin-bottom: -1px;
    zoom: 1;
}
select {
    background: white;
    border: 0;
    padding: 2px;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 250px;
    left: 0;
    top: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
    border-radius: 15px;
}

[data-tooltip]:hover::after {
    opacity: 1;
    left: 50px;
}